# Database
DATABASE_URL="postgresql://user:password@localhost:5432/kas_rt"

# Better Auth
# Generate with: openssl rand -hex 32
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
